<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">
    <include
        android:id="@+id/toolbar"
        layout="@layout/toolbar" />
    <android.support.v4.widget.DrawerLayout
        android:id="@+id/drawer_layout"
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <ScrollView
            android:layout_width="fill_parent"
            android:layout_height="fill_parent">
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/ll_labels"
                android:orientation="vertical">
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="Attendance"
                    android:textSize="18dp"
                    android:layout_margin="@dimen/margin_small"
                    android:textStyle="bold" />
                <TextView
                    android:id="@+id/txt_attend"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="Did you attend workshop AAAAAAAAAAAAAAAAAAAAAA?"
                    android:layout_margin="@dimen/margin_small" />
                <EditText
                    android:id="@+id/et_notes"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:lines="5"
                    android:gravity="center_vertical"
                    android:hint="Write some notes about this workshop / session (min 30 characters)" />
                <LinearLayout
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_gravity="center"
                    android:orientation="horizontal">
                    <Button
                        android:layout_marginTop="@dimen/margin_small"
                        android:id="@+id/btn_submit"
                        android:text="Submit"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content" />
                    <Button
                        android:layout_marginTop="@dimen/margin_small"
                        android:id="@+id/btn_not_attend"
                        android:text="Did not attend"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content" />
                </LinearLayout>
            </LinearLayout>
        </ScrollView>
        <ListView
            android:id="@+id/left_drawer"
            android:layout_width="240dp"
            android:layout_height="match_parent"
            android:layout_gravity="start"
            android:choiceMode="singleChoice"
            android:divider="@color/accent"
            android:dividerHeight="1dp"
            android:background="@color/nav_background" />
    </android.support.v4.widget.DrawerLayout>
</LinearLayout>