<?xml version="1.0" encoding="utf-8"?>
<android.support.v4.widget.DrawerLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/drawer_layout"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <ImageView
            android:layout_alignParentTop="true"
            android:id="@+id/img_banner"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:src="@drawable/uts_helps_banner" />
        <TextView
            android:id="@+id/txt_booking_confirmed"
            android:gravity="center"
            android:layout_centerInParent="true"
            android:text="@string/static_not_attended"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
        <Button
            android:id="@+id/btn_overview"
            android:text="Back To Overview"
            android:layout_centerHorizontal="true"
            android:layout_width="wrap_content"
            android:padding="20dp"
            android:layout_alignParentBottom="true"
            android:layout_height="wrap_content" />
    </RelativeLayout>
    <ListView
        android:id="@+id/left_drawer"
        android:layout_width="240dp"
        android:layout_height="match_parent"
        android:layout_gravity="start"
        android:choiceMode="singleChoice"
        android:divider="@color/accent"
        android:dividerHeight="1dp"
        android:background="@color/nav_background" />
</android.support.v4.widget.DrawerLayout>